<a href="https://colab.research.google.com/github/esmeee51/B134030044/blob/main/EX03_04_%E8%96%AA%E6%83%85%E5%B9%B3%E5%8F%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
url = 'https://raw.githubusercontent.com/imchihchao/aop113b/main/materials/03-earnings.xlsx'
df = pd.read_excel
df

<function pandas.io.excel._base.read_excel(io, sheet_name: 'str | int | list[IntStrT] | None' = 0, *, header: 'int | Sequence[int] | None' = 0, names: 'SequenceNotStr[Hashable] | range | None' = None, index_col: 'int | str | Sequence[int] | None' = None, usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None, dtype: 'DtypeArg | None' = None, engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb', 'calamine'] | None" = None, converters: 'dict[str, Callable] | dict[int, Callable] | None' = None, true_values: 'Iterable[Hashable] | None' = None, false_values: 'Iterable[Hashable] | None' = None, skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, parse_dates: 'list | dict | bool' = False, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'dict[Hashable, str] | str | None' = None, thousands: 'str | None' = None, decimal: 'str' = '.', comment: 'str | None' = None, skipfooter: 'int' = 0, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>, engine_kwargs: 'dict | None' = None) -> 'DataFrame | dict[IntStrT, DataFrame]'>

資料清理（去除空值欄列、重設欄名、重設列索引）

In [30]:
import pandas as pd
url = 'https://raw.githubusercontent.com/imchihchao/aop113b/main/materials/03-earnings.xlsx'
df = pd.read_excel(url) # Call pd.read_excel with the URL to load the data into a DataFrame
df

/usr/local/lib/python3.11/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Unnamed: 0,Unnamed: 1,礦業及土石採取業,製造業,電力及燃氣供應業,用水供應及污染整治業,營建工程業,批發及零售業,運輸及倉儲業,住宿及餐飲業,出版影音及資通訊業,金融及保險業,不動產業,專業﹑科學及技術服務業,支援服務業,教育業（不含小學以上各級公私立學校等）,醫療保健及社會工作服務業,藝術﹑娛樂及休閒服務業,其他服務業
0,NaN,NaN,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計
1,NaN,NaN,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值
2,每人每月總薪資(新臺幣元),81年,31937,26942,60937,31017,30825,28152,32272,18209,44519,46380,39911,37285,25708,-,35670,20463,21485
3,NaN,82年,32875,28826,64897,33927,33638,30548,34769,18950,48782,50034,42402,39900,27785,-,37176,21124,22150
4,NaN,83年,33887,30752,69330,38065,34379,32089,36712,20373,52229,56462,42056,39730,29018,-,39633,22133,23205
5,NaN,84年,35633,32494,71940,39072,35278,34149,39260,22317,54649,54658,40614,41436,32927,-,41623,22116,25077
6,NaN,85年,37354,33839,79953,39304,35817,34905,40985,22198,55873,56887,40445,41642,33649,-,44797,23532,25846
7,NaN,86年,38545,35408,80437,40281,37029,36406,42717,23528,58831,60597,40666,44042,35394,-,47378,24894,26929
8,NaN,87年,40083,36438,88192,41708,37886,37696,44076,24040,61421,59546,41719,45393,34814,-,48920,26256,29530
9,NaN,88年,41432,37746,91265,44729,38070,38695,45074,25117,61260,60332,44429,47349,34920,-,51020,26524,30825
10,NaN,89年,43066,38922,91805,44341,38897,39541,45951,26060,62759,60872,43716,48628,35277,-,53397,27592,31335
11,NaN,90年,44068,38420,97399,46002,37746,39775,48019,25973,62100,62657,42277,48812,35579,-,54484,28338,29927
12,NaN,91年,44804,38444,93466,43917,36844,39152,46512,25687,59239,65703,40896,45653,34605,-,53841,27889,29236
13,NaN,92年,47720,39558,95191,43954,37214,39610,45936,24951,60292,64645,40431,47411,32871,-,55702,27666,28947
14,NaN,93年,46307,40666,94525,42880,37916,39819,46884,24812,59417,66671,39781,49292,32707,-,55341,29662,29421
15,NaN,94年,47671,41868,91184,47647,38450,39546,48516,25121,61381,65113,38819,50871,32815,-,55604,29898,30384
16,NaN,95年,53344,42403,97230,47251,39168,39380,48340,24960,61134,69054,38313,51721,32622,-,55430,31303,30203
17,NaN,96年,50949,43240,98519,44399,40310,39463,49095,25476,63738,75824,37874,53144,33102,-,56614,31414,29925
18,NaN,97年,51333,43297,89432,44521,40754,39956,49583,26699,63812,71520,40340,54169,32916,-,58134,31931,29314
19,NaN,98年,49448,39525,96285,44042,40870,40081,47909,27106,61932,67713,39032,49426,31249,22197,57858,31242,29738
20,NaN,99年,52551,43152,96523,45106,41599,41766,49009,27788,64330,74219,42093,52141,32064,22459,57897,32687,30832
21,NaN,100年,53978,44603,95382,45828,42716,42562,50330,29715,66376,76920,43783,54097,32855,22416,59900,33236,32526
22,NaN,101年,52752,45318,92871,43675,42683,41530,50327,29961,66998,77960,41546,54884,33214,22773,60770,35446,32618
23,NaN,102年,54871,45685,88934,44143,42540,41425,49929,30119,65660,77855,42165,53655,33243,22923,61362,36070,33069
24,NaN,103年,54093,47455,94111,44919,43251,43119,50142,31225,66613,83071,44786,55169,34177,24226,63750,35829,34556
25,NaN,104年,57198,49374,96595,44357,43346,43747,51369,31986,66879,84718,44075,55735,34881,24304,67676,36184,33996
26,NaN,105年,55425,49969,94453,43216,42839,43614,52275,31870,68127,85417,42897,55844,35189,24876,69903,36821,33611
27,NaN,106年,55339,51853,94764,44170,42506,45568,53204,32896,69466,86395,44840,56874,35669,25287,70612,37522,33987
28,NaN,107年,56967,54567,96230,45074,43645,47132,54813,33558,69835,89238,47552,57945,36446,26032,71569,38799,35116
29,NaN,108年,58510,55816,96389,45403,44833,48594,55348,34112,71863,93081,50267,62377,36994,30521,65828,39608,35844
30,NaN,109年,58585,56538,94761,44913,45622,49087,54834,34496,73631,94557,53937,62949,37240,31068,65278,40685,36564
31,NaN,110年,58076,60545,94111,44532,47468,48507,57271,34884,75186,99209,57014,63507,37466,31535,64522,38737,36402
32,NaN,111年,60857,63324,96077,45191,48545,49404,61933,36109,78601,100543,56842,65471,37930,32449,66795,40009,38045
33,NaN,112年,61765,62492,96596,46328,49477,51159,61957,37662,80434,98243,55337,66841,39193,33433,68516,41508,39599
34,NaN,113年,63898,65574,96669,48030,51176,53797,65305,38555,83803,107348,57068,68471,40640,34121,68900,42697,40129
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,註:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,1. 本項統計涵蓋範圍自98年1月起新增「教育業（僅含教育輔助及其他教育業）」，自108年1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2. 因108年行業擴增幅度較大，為比較基礎一致，當年數據不與前一年資料進行比較。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df.drop(columns=('Unnamed: 0'), inplace=True)

In [32]:
df.dropna(subset=['Unnamed: 1'], inplace=True)

In [33]:
df.rename(columns={'Unnamed: 1':'年度'}, inplace=True)

In [34]:
df.set_index('年度', inplace=True)
df

,礦業及土石採取業,製造業,電力及燃氣供應業,用水供應及污染整治業,營建工程業,批發及零售業,運輸及倉儲業,住宿及餐飲業,出版影音及資通訊業,金融及保險業,不動產業,專業﹑科學及技術服務業,支援服務業,教育業（不含小學以上各級公私立學校等）,醫療保健及社會工作服務業,藝術﹑娛樂及休閒服務業,其他服務業
年度,,,,,,,,,,,,,,,,,
81年,31937,26942,60937,31017,30825,28152,32272,18209,44519,46380,39911,37285,25708,-,35670,20463,21485
82年,32875,28826,64897,33927,33638,30548,34769,18950,48782,50034,42402,39900,27785,-,37176,21124,22150
83年,33887,30752,69330,38065,34379,32089,36712,20373,52229,56462,42056,39730,29018,-,39633,22133,23205
84年,35633,32494,71940,39072,35278,34149,39260,22317,54649,54658,40614,41436,32927,-,41623,22116,25077
85年,37354,33839,79953,39304,35817,34905,40985,22198,55873,56887,40445,41642,33649,-,44797,23532,25846
86年,38545,35408,80437,40281,37029,36406,42717,23528,58831,60597,40666,44042,35394,-,47378,24894,26929
87年,40083,36438,88192,41708,37886,37696,44076,24040,61421,59546,41719,45393,34814,-,48920,26256,29530
88年,41432,37746,91265,44729,38070,38695,45074,25117,61260,60332,44429,47349,34920,-,51020,26524,30825
89年,43066,38922,91805,44341,38897,39541,45951,26060,62759,60872,43716,48628,35277,-,53397,27592,31335
90年,44068,38420,97399,46002,37746,39775,48019,25973,62100,62657,42277,48812,35579,-,54484,28338,29927
91年,44804,38444,93466,43917,36844,39152,46512,25687,59239,65703,40896,45653,34605,-,53841,27889,29236
92年,47720,39558,95191,43954,37214,39610,45936,24951,60292,64645,40431,47411,32871,-,55702,27666,28947
93年,46307,40666,94525,42880,37916,39819,46884,24812,59417,66671,39781,49292,32707,-,55341,29662,29421
94年,47671,41868,91184,47647,38450,39546,48516,25121,61381,65113,38819,50871,32815,-,55604,29898,30384
95年,53344,42403,97230,47251,39168,39380,48340,24960,61134,69054,38313,51721,32622,-,55430,31303,30203
96年,50949,43240,98519,44399,40310,39463,49095,25476,63738,75824,37874,53144,33102,-,56614,31414,29925
97年,51333,43297,89432,44521,40754,39956,49583,26699,63812,71520,40340,54169,32916,-,58134,31931,29314
98年,49448,39525,96285,44042,40870,40081,47909,27106,61932,67713,39032,49426,31249,22197,57858,31242,29738
99年,52551,43152,96523,45106,41599,41766,49009,27788,64330,74219,42093,52141,32064,22459,57897,32687,30832
100年,53978,44603,95382,45828,42716,42562,50330,29715,66376,76920,43783,54097,32855,22416,59900,33236,32526
101年,52752,45318,92871,43675,42683,41530,50327,29961,66998,77960,41546,54884,33214,22773,60770,35446,32618
102年,54871,45685,88934,44143,42540,41425,49929,30119,65660,77855,42165,53655,33243,22923,61362,36070,33069
103年,54093,47455,94111,44919,43251,43119,50142,31225,66613,83071,44786,55169,34177,24226,63750,35829,34556
104年,57198,49374,96595,44357,43346,43747,51369,31986,66879,84718,44075,55735,34881,24304,67676,36184,33996
105年,55425,49969,94453,43216,42839,43614,52275,31870,68127,85417,42897,55844,35189,24876,69903,36821,33611
106年,55339,51853,94764,44170,42506,45568,53204,32896,69466,86395,44840,56874,35669,25287,70612,37522,33987
107年,56967,54567,96230,45074,43645,47132,54813,33558,69835,89238,47552,57945,36446,26032,71569,38799,35116
108年,58510,55816,96389,45403,44833,48594,55348,34112,71863,93081,50267,62377,36994,30521,65828,39608,35844
109年,58585,56538,94761,44913,45622,49087,54834,34496,73631,94557,53937,62949,37240,31068,65278,40685,36564
110年,58076,60545,94111,44532,47468,48507,57271,34884,75186,99209,57014,63507,37466,31535,64522,38737,36402
111年,60857,63324,96077,45191,48545,49404,61933,36109,78601,100543,56842,65471,37930,32449,66795,40009,38045
112年,61765,62492,96596,46328,49477,51159,61957,37662,80434,98243,55337,66841,39193,33433,68516,41508,39599
113年,63898,65574,96669,48030,51176,53797,65305,38555,83803,107348,57068,68471,40640,34121,68900,42697,40129

In [35]:
for col in df.columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')
df

,礦業及土石採取業,製造業,電力及燃氣供應業,用水供應及污染整治業,營建工程業,批發及零售業,運輸及倉儲業,住宿及餐飲業,出版影音及資通訊業,金融及保險業,不動產業,專業﹑科學及技術服務業,支援服務業,教育業（不含小學以上各級公私立學校等）,醫療保健及社會工作服務業,藝術﹑娛樂及休閒服務業,其他服務業
年度,,,,,,,,,,,,,,,,,
81年,31937,26942,60937,31017,30825,28152,32272,18209,44519,46380,39911,37285,25708,NaN,35670,20463,21485
82年,32875,28826,64897,33927,33638,30548,34769,18950,48782,50034,42402,39900,27785,NaN,37176,21124,22150
83年,33887,30752,69330,38065,34379,32089,36712,20373,52229,56462,42056,39730,29018,NaN,39633,22133,23205
84年,35633,32494,71940,39072,35278,34149,39260,22317,54649,54658,40614,41436,32927,NaN,41623,22116,25077
85年,37354,33839,79953,39304,35817,34905,40985,22198,55873,56887,40445,41642,33649,NaN,44797,23532,25846
86年,38545,35408,80437,40281,37029,36406,42717,23528,58831,60597,40666,44042,35394,NaN,47378,24894,26929
87年,40083,36438,88192,41708,37886,37696,44076,24040,61421,59546,41719,45393,34814,NaN,48920,26256,29530
88年,41432,37746,91265,44729,38070,38695,45074,25117,61260,60332,44429,47349,34920,NaN,51020,26524,30825
89年,43066,38922,91805,44341,38897,39541,45951,26060,62759,60872,43716,48628,35277,NaN,53397,27592,31335
90年,44068,38420,97399,46002,37746,39775,48019,25973,62100,62657,42277,48812,35579,NaN,54484,28338,29927
91年,44804,38444,93466,43917,36844,39152,46512,25687,59239,65703,40896,45653,34605,NaN,53841,27889,29236
92年,47720,39558,95191,43954,37214,39610,45936,24951,60292,64645,40431,47411,32871,NaN,55702,27666,28947
93年,46307,40666,94525,42880,37916,39819,46884,24812,59417,66671,39781,49292,32707,NaN,55341,29662,29421
94年,47671,41868,91184,47647,38450,39546,48516,25121,61381,65113,38819,50871,32815,NaN,55604,29898,30384
95年,53344,42403,97230,47251,39168,39380,48340,24960,61134,69054,38313,51721,32622,NaN,55430,31303,30203
96年,50949,43240,98519,44399,40310,39463,49095,25476,63738,75824,37874,53144,33102,NaN,56614,31414,29925
97年,51333,43297,89432,44521,40754,39956,49583,26699,63812,71520,40340,54169,32916,NaN,58134,31931,29314
98年,49448,39525,96285,44042,40870,40081,47909,27106,61932,67713,39032,49426,31249,22197.0,57858,31242,29738
99年,52551,43152,96523,45106,41599,41766,49009,27788,64330,74219,42093,52141,32064,22459.0,57897,32687,30832
100年,53978,44603,95382,45828,42716,42562,50330,29715,66376,76920,43783,54097,32855,22416.0,59900,33236,32526
101年,52752,45318,92871,43675,42683,41530,50327,29961,66998,77960,41546,54884,33214,22773.0,60770,35446,32618
102年,54871,45685,88934,44143,42540,41425,49929,30119,65660,77855,42165,53655,33243,22923.0,61362,36070,33069
103年,54093,47455,94111,44919,43251,43119,50142,31225,66613,83071,44786,55169,34177,24226.0,63750,35829,34556
104年,57198,49374,96595,44357,43346,43747,51369,31986,66879,84718,44075,55735,34881,24304.0,67676,36184,33996
105年,55425,49969,94453,43216,42839,43614,52275,31870,68127,85417,42897,55844,35189,24876.0,69903,36821,33611
106年,55339,51853,94764,44170,42506,45568,53204,32896,69466,86395,44840,56874,35669,25287.0,70612,37522,33987
107年,56967,54567,96230,45074,43645,47132,54813,33558,69835,89238,47552,57945,36446,26032.0,71569,38799,35116
108年,58510,55816,96389,45403,44833,48594,55348,34112,71863,93081,50267,62377,36994,30521.0,65828,39608,35844
109年,58585,56538,94761,44913,45622,49087,54834,34496,73631,94557,53937,62949,37240,31068.0,65278,40685,36564
110年,58076,60545,94111,44532,47468,48507,57271,34884,75186,99209,57014,63507,37466,31535.0,64522,38737,36402
111年,60857,63324,96077,45191,48545,49404,61933,36109,78601,100543,56842,65471,37930,32449.0,66795,40009,38045
112年,61765,62492,96596,46328,49477,51159,61957,37662,80434,98243,55337,66841,39193,33433.0,68516,41508,39599
113年,63898,65574,96669,48030,51176,53797,65305,38555,83803,107348,57068,68471,40640,34121.0,68900,42697,40129

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, 81年 to 113年
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   礦業及土石採取業             33 non-null     int64
 1   製造業                  33 non-null     int64
 2   電力及燃氣供應業             33 non-null     int64
 3   用水供應及污染整治業           33 non-null     int64
 4   營建工程業                33 non-null     int64
 5   批發及零售業               33 non-null     int64
 6   運輸及倉儲業               33 non-null     int64
 7   住宿及餐飲業               33 non-null     int64
 8   出版影音及資通訊業            33 non-null     int64
 9   金融及保險業               33 non-null     int64
 10  不動產業                 33 non-null     int64
 11  專業﹑科學及技術服務業          33 non-null     int64
 12  支援服務業                33 non-null     int64
 13  教育業（不含小學以上各級公私立學校等）  16 non-null     float64
 14  醫療保健及社會工作服務業         33 non-null     int64
 15  藝術﹑娛樂及休閒服務業          33 non-null     int64
 16  其他服務業                33 non-null     int64
dtypes: float64(1), int64(16)
memory usage: 4.6+ KB

找出 81 年薪水最高和最低分別是什麼行業

In [39]:
df.loc['81年'].idxmax(), df.loc['81年'].max()

('電力及燃氣供應業', 60937.0)

In [41]:
df.loc['81年'].idxmin(), df.loc['81年'].min()

('住宿及餐飲業', 18209.0)

找出 醫療保健及社會工作服務業 最高是那一年

In [42]:
df['醫療保健及社會工作服務業'].idxmax(), df['醫療保健及社會工作服務業'].max()

('107年', 71569)

找出 113 年薪水最高和最低的前三名分別是什麼行業

In [44]:
df.loc['113年'].nlargest()

金融及保險業          107348.0
電力及燃氣供應業         96669.0
出版影音及資通訊業        83803.0
醫療保健及社會工作服務業     68900.0
專業﹑科學及技術服務業      68471.0
Name: 113年, dtype: float64

In [45]:
df.loc['113年'].nsmallest()

教育業（不含小學以上各級公私立學校等）    34121.0
住宿及餐飲業                 38555.0
其他服務業                  40129.0
支援服務業                  40640.0
藝術﹑娛樂及休閒服務業            42697.0
Name: 113年, dtype: float64

找出歷年薪水最高的前三名

In [46]:
for id in df.index:
  print(id, df.loc[id].nlargest(3).index.to_list)

81年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
82年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
83年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
84年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
85年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
86年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
87年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '出版影音及資通訊業', '金融及保險業'], dtype='object')>
88年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '出版影音及資通訊業', '金融及保險業'], dtype='object')>
89年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '出版影音及資通訊業', '金融及保險業'], dtype='object')>
90年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
91年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
92年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
93年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
94年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
95年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
96年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
97年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
98年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
99年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
100年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
101年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
102年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
103年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
104年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '醫療保健及社會工作服務業'], dtype='object')>
105年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '醫療保健及社會工作服務業'], dtype='object')>
106年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '醫療保健及社會工作服務業'], dtype='object')>
107年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '醫療保健及社會工作服務業'], dtype='object')>
108年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
109年 <bound method IndexOpsMixin.tolist of Index(['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業'], dtype='object')>
110年 <bound method IndexOpsMixin.tolist of Index(['金融及保險業', '電力及燃氣供應業', '出版影音及資通訊業'], dtype='object')>
111年 <bound method IndexOpsMixin.tolist of Index(['金融及保險業', '電力及燃氣供應業', '出版影音及資通訊業'], dtype='object')>
112年 <bound method IndexOpsMixin.tolist of Index(['金融及保險業', '電力及燃氣供應業', '出版影音及資通訊業'], dtype='object')>
113年 <bound method IndexOpsMixin.tolist of Index(['金融及保險業', '電力及燃氣供應業', '出版影音及資通訊業'], dtype='object')>

In [47]:
for id in df.index:
  print(id, df.loc[id].nsmallest(3).index.to_list)

81年 <bound method IndexOpsMixin.tolist of Index(['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業'], dtype='object')>
82年 <bound method IndexOpsMixin.tolist of Index(['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業'], dtype='object')>
83年 <bound method IndexOpsMixin.tolist of Index(['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業'], dtype='object')>
84年 <bound method IndexOpsMixin.tolist of Index(['藝術﹑娛樂及休閒服務業', '住宿及餐飲業', '其他服務業'], dtype='object')>
85年 <bound method IndexOpsMixin.tolist of Index(['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業'], dtype='object')>
86年 <bound method IndexOpsMixin.tolist of Index(['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業'], dtype='object')>
87年 <bound method IndexOpsMixin.tolist of Index(['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業'], dtype='object')>
88年 <bound method IndexOpsMixin.tolist of Index(['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業'], dtype='object')>
89年 <bound method IndexOpsMixin.tolist of Index(['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業'], dtype='object')>
90年 <bound method IndexOpsMixin.tolist of Index(['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業'], dtype='object')>
91年 <bound method IndexOpsMixin.tolist of Index(['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業'], dtype='object')>
92年 <bound method IndexOpsMixin.tolist of Index(['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業'], dtype='object')>
93年 <bound method IndexOpsMixin.tolist of Index(['住宿及餐飲業', '其他服務業', '藝術﹑娛樂及休閒服務業'], dtype='object')>
94年 <bound method IndexOpsMixin.tolist of Index(['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業'], dtype='object')>
95年 <bound method IndexOpsMixin.tolist of Index(['住宿及餐飲業', '其他服務業', '藝術﹑娛樂及休閒服務業'], dtype='object')>
96年 <bound method IndexOpsMixin.tolist of Index(['住宿及餐飲業', '其他服務業', '藝術﹑娛樂及休閒服務業'], dtype='object')>
97年 <bound method IndexOpsMixin.tolist of Index(['住宿及餐飲業', '其他服務業', '藝術﹑娛樂及休閒服務業'], dtype='object')>
98年 <bound method IndexOpsMixin.tolist of Index(['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業'], dtype='object')>
99年 <bound method IndexOpsMixin.tolist of Index(['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業'], dtype='object')>
100年 <bound method IndexOpsMixin.tolist of Index(['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業'], dtype='object')>
101年 <bound method IndexOpsMixin.tolist of Index(['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業'], dtype='object')>
102年 <bound method IndexOpsMixin.tolist of Index(['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業'], dtype='object')>
103年 <bound method IndexOpsMixin.tolist of Index(['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '支援服務業'], dtype='object')>
104年 <bound method IndexOpsMixin.tolist of Index(['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業'], dtype='object')>
105年 <bound method IndexOpsMixin.tolist of Index(['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業'], dtype='object')>
106年 <bound method IndexOpsMixin.tolist of Index(['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業'], dtype='object')>
107年 <bound method IndexOpsMixin.tolist of Index(['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業'], dtype='object')>
108年 <bound method IndexOpsMixin.tolist of Index(['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業'], dtype='object')>
109年 <bound method IndexOpsMixin.tolist of Index(['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業'], dtype='object')>
110年 <bound method IndexOpsMixin.tolist of Index(['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業'], dtype='object')>
111年 <bound method IndexOpsMixin.tolist of Index(['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '支援服務業'], dtype='object')>
112年 <bound method IndexOpsMixin.tolist of Index(['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '支援服務業'], dtype='object')>
113年 <bound method IndexOpsMixin.tolist of Index(['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業'], dtype='object')>